name: Rust CI

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test & Lint
    runs-on: ubuntu-latest    
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Rust Toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Cache Cargo Registry
        uses: Swatinem/rust-cache@v2
# machen wir vielleicht wieder rein wenn es stabil l채uft und der code formatiert wurde
     # - name: Check Formatting
     #   run: cargo fmt -- --check

      - name: Linting (Clippy)
        # Wir disallowen Warnungen f체r strikte Qualit채t
        run: cargo clippy -- -D warnings

      - name: Build
        run: cargo build --verbose

      - name: Run Tests
        # F체hrt auch die Doc-Tests und Integration-Tests aus
        run: cargo test --verbose
